doctype hmtl5
html(lang="pl")
  head
    title = 'Github inspector'
    link(rel='stylesheet', href='/assets/index.css')
    script(type='module',src='/assets/app.js')

  body
    //- repos(data-user='devballteam', data-update='2019-05-01')
